<div class="product-list">
  <div>
    <mat-checkbox (change)="toggleOffers()">Ofertas</mat-checkbox>
    <button mat-raised-button color="primary" (click)="openDialog()">Agregar nuevo producto</button>
  </div>

  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let item of products | pagination: currentPage : productsPerPage">
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + item.photos[1] + ')'}"></div>
          <mat-card-title>{{ item.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="item.photos[0]" alt="{{ item.title }}">
        <mat-card-content>
          <p>{{ item.description }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button [routerLink]="['/products', item.id]">
            <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <app-pagination [totalItems]="products.length" [productsPerPage]="productsPerPage" (pageChanged)="onPageChange($event)">
  </app-pagination>
</div>
